body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-header {
  text-align: center;
  border-bottom: none;
}

.search-bar {
  width: 75%;
  margin: 20px auto;
}

.track-list {
  margin: 10px;
}

.unstyled-list {
  padding: 0;
}

.alert-info {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
