body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-header {
  text-align: center;
  margin: 40px 10px 20px; 
}

.search-bar {
  width: 75%;
  margin: 20px auto;
}

.track-list {
  margin: 10px;
}

.unstyled-list {
  padding: 0;
}

.alert {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background: #eee;
}

.list-group-item:hover {
    box-shadow: 0 4px 4px -3px #777;
}

.audio-player-wrap {
    text-align: center;
}

.lead {
    text-align: center;
}

/* Player Overrides, Ref: https://codepen.io/dcastanos/pen/FeJiu */

audio:hover, audio:focus, audio:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}


audio
{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}
